.all-container{
    display: grid;
    grid-template-columns: 3.5fr 1.5fr;
    gap: 0px 30px;
}
.left-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.right-container{
    background-color: #F2F4FA;
    padding: 0 5px;
}